* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 15px;
}

button {
    padding: 4px;
    margin-top: 20px;
    font-size: 20px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    
    width: 960px;           
    height: 960px;

    margin: 20px auto;      
    border: 2px solid black;
}

.grid-item {
    border: 1px solid black;
    width: 6.25%;
    height: 6.25%;
}


